/* jumbotron */

.jumbotron {
  height: 100vh;
  background-image: url("/assets/jumbotron__background--phone.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.jumbotron__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  font-size: var(--sm);
}

.jumbotron__name,
.jumbotron__profession {
  font-weight: bold;
}

.jumbotron__name {
  color: var(--primary);
}

.jumbotron__profession {
  color: var(--secondary);
}

.jumbotron__phrase {
  font-size: var(--xsm);
}

.jumbotron__social-media {
  color: var(--light);
  font-size: var(--sm);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.jumbotron__social-media-icons,
.jumbotron__social-media-icons:visited {
  color: inherit;
}

.jumbotron__social-media-icons:hover {
  color: var(--white);
}

/* navbar */
.navbar {
  font-family: "Inconsolata", monospace;
  font-size: var(--sm);
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: var(--white);
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
}

.navbar__button {
  align-self: flex-end;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.navbar__menu {
  display: none;
}

.navbar__brand {
  color: var(--primary);
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1rem;
}

.navbar__items {
  color: var(--secondary);
  list-style: none;
}

.navbar__item {
  margin-top: 1rem;
}

.navbar__item a {
  text-decoration: none;
}

.navbar__item a,
.navbar__item a:visited,
.navbar__item a:hover,
.navbar__item a:active {
  color: inherit;
}

/* ABOUT */
.about {
  display: grid;
  justify-items: center;
  font-family: "Lato", sans-serif;
  font-size: var(--xsm);
}

.about .bx {
  font-size: var(--md);
}

.about__main-title {
  color: var(--primary);
  padding: 1rem 2rem;
}

.about__secondary-title {
  color: var(--secondary);
  padding-bottom: 1rem;
}

.about__secondary-title--white {
  color: var(--white);
}

.about__presentation,
.about__skills {
  text-align: center;
  padding: 2rem 2rem;
}

.about__presentation {
  background-color: var(--secondary);
  color: var(--white);
}

.about__skills {
  background-color: var(--primary);
  color: var(--white);
}

/* PORTFOLIO */
.portfolio {
  display: grid;
  justify-items: center;
  font-family: "Lato", sans-serif;
  font-size: var(--xsm);
}

.portfolio__main-title {
  color: var(--primary);
  padding: 1rem 2rem;
}

.portfolio__work,
.portfolio__personal {
  padding: 2rem 2rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.portfolio .bx {
  font-size: var(--md);
  color: var(--secondary);
}

.portfolio__secondary-title {
  color: var(--secondary);
  padding-bottom: 1rem;
}

.portfolio__card {
  width: 25rem;
  height: 25rem;
  border: 1px solid #000;
}

.portfolio__card img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

.portfolio__see-all {
  text-decoration: none;
  font-size: var(--xsm);
  display: flex;
  align-items: center;
}

.portfolio__see-all,
.portfolio__see-all .bx,
.portfolio__see-all:hover,
.portfolio__see-all:visited,
.portfolio__see-all:active {
  color: var(--light);
}

/* VIDEOS */
.videos {
  display: grid;
  justify-items: center;
  font-family: "Lato", sans-serif;
  font-size: var(--xsm);
}

.videos__main-title {
  color: var(--primary);
  padding: 1rem 2rem;
}

.videos__list {
  padding: 2rem 2rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.videos__card {
  width: 25rem;
  height: 25rem;
}

.videos__channel {
  text-decoration: none;
  font-size: var(--xsm);
  display: flex;
  align-items: center;
}

.videos__channel,
.videos__channel .bx,
.videos__channel:hover,
.videos__channel:visited,
.videos__channel:active {
  color: var(--light);
}

/* CONTACT */
.contact {
  background-color: var(--secondary);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-family: "Lato", sans-serif;
  font-size: var(--xsm);
  color: var(--white);
}

/* FOOTER */
.footer {
  background-color: var(--primary);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: var(--xsm);
  color: var(--white);
}

.footer .bx {
  margin: 0 0.3rem;
}
