:root {
  
  --primary : #355691;
  --secondary: #5F5AA2;
  --light: #3F4045;
  --dark: #30292f;
  --grey: #413F54;
  --white: white;
 
  font-size: 62.5%;

  --xsm: 1.2rem;
  --sm: 1.8rem;
  --md: 3.6rem;
  --lg: 5.4rem;
  --xlg: 9rem
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* jumbotron */

.jumbotron {
  height: 100vh;
  background-image: url("/assets/jumbotron__background--phone.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.jumbotron__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  font-size: var(--sm);
}

.jumbotron__name,
.jumbotron__profession {
  font-weight: bold;
}

.jumbotron__name {
  color: var(--primary);
}

.jumbotron__profession {
  color: var(--secondary);
}

.jumbotron__phrase {
  font-size: var(--xsm);
}

.jumbotron__social-media {
  color: var(--light);
  font-size: var(--sm);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.jumbotron__social-media-icons:visited {
  color: inherit;
}

.jumbotron__social-media-icons:hover {
  color: var(--white);
}
