:root {
  --purple: #160c28;
  --yellow: #efcb68;
  --white: #e1efe6;
  --gray: #aeb7b3;
  --black: #000411;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--purple);
  color: var(--white);
  font-family: 'Lato';
  display: grid;
  grid-template-areas:
    'header'
    'section'
    'nav'
    'footer';
  font-size: 10px;
}

/* HEADER */
header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  border-bottom: 1px solid var(--gray);
}

#brand {
  text-decoration: none;
  color: var(--white);
}

#brand > h1 {
  font-size: 2em;
}

/* MAIN */
section {
  grid-area: section;
  padding-top: 2em;
}

#presentation {
  display: grid;
  gap: 2em;
  grid-template-areas:
    'textPresentation'
    'callToAction'
    'photoPresentation';
}

#textPresentation {
  grid-area: textPresentation;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#greeting {
  font-family: 'Inconsolata';
  font-size: 2em;
}

#name {
  font-size: 3.5em;
  font-weight: bold;
  color: var(--yellow);
}

#summary {
  font-size: 2em;
  font-weight: bold;
  opacity: 68%;
}

#callToAction {
  grid-area: callToAction;
  display: flex;
  justify-content: center;
}

#callToAction button {
  border-radius: 50px;
  border: 0;
  background-color: var(--white);
  font-size: 1.5em;
  font-family: 'lato';
  font-weight: bold;
  color: var(--black);
  padding: 1em 1.5em;
}

#photoPresentation {
  grid-area: photoPresentation;
  position: relative;
  text-align: center;
}

#photoPresentation svg {
  fill: var(--yellow);
  width: 90%;
}

#photoPresentation img {
  position: absolute;
  border-radius: 100%;
  top: 9%;
  left: 19%;
  width: 68%;
}

#socialMedia {
  text-align: center;
}

#titleSocialButtons {
  font-size: 2em;
  margin-bottom: 1em;
}

#socialButtons {
  display: flex;
  justify-content: space-around;
}

#socialButtons a {
  color: var(--gray);
  font-size: 2.5em;
}

#github:hover {
  color: #fafafa;
}
#instagram:hover {
  color: #e1306c;
}
#linkedin:hover {
  color: #0077b5;
}
#twitter:hover {
  color: #1da1f2;
}

/* FOOTER */
footer {
  margin-top: 2em;
  margin-bottom: 1em;
  grid-area: footer;
  font-size: 0.8em;
  color: var(--gray);
  opacity: 80%;
  text-align: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 22px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #presentation {
    font-size: 18px;
    grid-template-areas:
      'textPresentation photoPresentation'
      'callToAction photoPresentation';
  }

  #callToAction button {
    padding: 0.1em 1.5em;
  }

  #titleSocialButtons {
    margin-top: 1em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    width: 1100px;
    margin: 0 auto;
  }
}
