:root {
  --light: #EEE5E9;
  --grey: #7C7C7C;
  --dark: #2B303A;
  --lightblue: #92DCE5;
  --red: #D64933;

  --sm: 12px;
  --md: 20px;
  --lg: 32px;
}

* {
  margin: 0;
  padding: 0;
}

.jumbotron {
  height: 100vh;
  background-image: url("/assets/jumbotron-bg-image2.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
}

.jumbotron div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
}

.jumbotron .name,
.jumbotron .profession {
  font-size: var(--md);
  font-weight: bold;
}

.jumbotron .name {
  color: var(--light);
}

.jumbotron .profession {
  color: var(--red);
}
.jumbotron .hobbies {
  color: var(--lightblue);
}
.jumbotron .social-media {
  color: var(--light);
}

@media (min-width: 640px) {
  .jumbotron .name,
  .jumbotron .profession {
    font-size: var(--lg);
  }
}
