/* Jumbotron */

.jumbotron {
  background-image: url("/assets/jumbotron__background--laptop.jpg");
  justify-content: space-between;
}

.jumbotron__description {
  row-gap: 1.5rem;
  font-size: var(--lg);
}

.jumbotron__phrase {
  font-size: var(--md);
}

.jumbotron__social-media {
  font-size: var(--lg);
}

/* navbar */
.navbar {
  font-size: var(--sm);
  position: sticky;
  top: 0px;
  padding-top: 0;
  padding-left: 0;
}

.navbar__button {
  display: none;
}
.navbar__menu {
  display: block;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
  margin-left: 2rem;
}

.navbar__brand {
  margin-bottom: 0;
}

.navbar__items {
  display: flex;
  margin-top: 0;
}

.navbar__item {
  padding: 0 1rem;
  cursor: pointer;
}

/* ABOUT */
.about {
  grid-template-columns: 1fr 1fr;
}

.about__main-title {
  grid-column: 1 / 3;
}

.about__presentation,
.about__skills {
  padding: 4rem 2rem;
}

/* PORTFOLIO */
.portfolio {
  font-size: var(--md);
}

.portfolio__work,
.portfolio__personal {
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio__secondary-title {
  padding-bottom: 1.5rem;
}

.portfolio .bx,
.portfolio__secondary-title,
.portfolio__see-all {
  grid-column: 1 / 4;
}

.portfolio__see-all {
  font-size: var(--md);
}

/* VIDEOS */
.videos {
  font-size: var(--md);
}

.videos__list {
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
