.projects-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  width: 25rem;
  /* height: 35rem; */
  border: 1px solid var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', serif;
  text-align: center;
}

.project-card a:last-child {
    padding-bottom: 1rem;
}

.project-card__image {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border: 1px solid var(--secondary);
}

.project-card__name {
  color: var(--primary);
  font-size: var(--md);
  font-weight: bold;
}

.project-card__technologies {
  font-size: var(--sm);
  color: var(--secondary);
}


.project-card__source,
.project-card__demo {
  text-decoration: none;
  font-size: var(--sm);
}

.project-card__source,
.project-card__source:visited,
.project-card__source:active {
    color: var(--dark);
  }

.project-card__demo,
.project-card__demo:visited,
.project-card__demo:active {
  color: var(--secondary);
}

@media screen and (min-width: 768px){
  .projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .projects-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .projects-list {
    grid-template-columns: repeat(8, 1fr);
  }
}