/* Jumbotron */

.jumbotron {
  background-image: url("/assets/jumbotron__background--tablet.jpg");
}

.jumbotron__description {
  row-gap: 1rem;
  font-size: var(--md);
}

.jumbotron__profession, .jumbotron__name {
  font-size: var(--lg);
}

.jumbotron__phrase {
  font-size: calc(var(--sm)*1.5);
}

.jumbotron__social-media {
  font-size: var(--lg);
}

/* navbar */
.navbar {
  font-size: var(--md);
  padding-top: 2rem;
  padding-left: 2rem;
}

.navbar__button {
  margin-right: 2rem;
}

.navbar__brand {
  margin-bottom: 1rem;
}

.navbar__item {
  margin-top: 1.5rem;
}

/* ABOUT */
.about {
  font-size: calc(var(--sm)*1.5);
}

.about .bx {
  font-size: var(--lg);
}

.about__main-title {
  padding: 2rem 3rem;
}

.about__secondary-title {
  padding-bottom: 2rem;
}

.about__presentation,
.about__skills {
  padding: 4rem calc((100vw - 48rem) / 2);
}

/* PORTFOLIO */
.portfolio {
  font-size: var(--sm);
}

.portfolio__work,
.portfolio__personal {
  gap: 4rem;
}

.portfolio__secondary-title {
  padding-bottom: 1.5rem;
}

.portfolio__card {
  width: 45rem;
  height: 45rem;
}


.portfolio__see-all {
  font-size: var(--sm);
}

/* VIDEOS */
.videos {
  font-size: var(--sm);
}

.videos__list {
  gap: 2rem;
}

.videos__channel {
  font-size: var(--sm);
}

.videos__card {
  width: 45rem;
  height: 45rem;
}

/* CONTACT */
.contact {
  height: 8rem;
  font-size: var(--sm);
}

/* FOOTER */
.footer {
  height: 8rem;
  font-size: var(--sm);
}